@import "colors";
@import "breakpoints";
@import "fonts";

body,
html {
  background: $light_gray;
  font-family: Outfit;
  font-size: 14px;
  height: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 0.75em;
  border-radius: 0.75em;
  height: 27em;
  width: 16em;
}

@media (max-width: $mobile) {
  .card-container {
    justify-content: flex-start;
    margin-top: 3em;
  }

  .card {
    width: 19em;
    height: 31em;
    padding-bottom: 2em;
  }

  .title {
    font-size: 1.55rem;
  }

  .subtitle {
    font-size: 1.15rem;
  }
}

@media (min-width: $mobile) {
  .card {
    padding-bottom: 2em;
  }

  .title {
    font-size: 1.3rem;
  }

  .subtitle {
    font-size: 0.95rem;
  }
}

.qr-code {
  max-width: 100%;
  border-radius: 0.5em;
}

.title {
  text-align: center;
  font-weight: $heavy_weight;
  color: $dark_blue;
  margin: 0;
}

.subtitle {
  text-align: center;
  font-weight: $light_weight;
  color: $grayish_blue;
  margin: 0;
}
