@import "./colors";
@import "./fonts";

html,
body {
  background-color: $light_gray;
  font-family: Outfit;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  width: 20em;
  padding: 1em;
  border-radius: 1.25em;
}

.qr-code {
  border-radius: 0.75em;
}

.title {
  padding: 0 20px;
  color: $dark_blue;
  text-align: center;
  font-weight: $heavy_weight;
}

.subtitle {
  font-size: 1rem;
  padding: 0 20px;
  color: $grayish_blue;
  text-align: center;
  font-weight: $light_weight;
}
